# GENERAL #
###########



# PATHS #
#########



# FOLDERS #
###########

#/docs/
/public/
/resources/
/themes/*
!/themes/lost-theme/
!/themes/new-theme/

# FILE TYPES #
##############



# FILES #
#########

assets/jsconfig.json
.hugo_build.lock