# GENERAL #
###########



# PATHS #
#########



# FOLDERS #
###########
docs
public
resources
themes/hugo-theme-stack

# FILE TYPES #
##############



# FILES #
#########

assets/jsconfig.json
.hugo_build.lock