<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" dir="{{ .Site.Language.LanguageDirection | default `ltr` }}">

<head>
	{{- .Store.Set "isHome" (eq .Page.RelPermalink .Site.Params.homepage) -}} {{- /* site.Home.Store.Set "isHome" (eq .Page.RelPermalink .Site.Params.homepage) */ -}}
	{{- partial "head.html" . -}}
</head>

<body> <!-- <body>, <section>, .section -->
	<header id="header">
		{{- partial "header.html" . -}}
	</header>

	<section id="section"> <!-- <main> base -> <section> -->
		<nav id="nav" class="section">
			<section id="nav-main" class="section" style="--nav-mode: {{ .Site.Params.navMode | default `auto` }};">
				{{- partial "nav/main.html" . -}}
			</section>

			<footer id="nav-footer">
				{{- partial "nav/footer.html" . -}}
			</footer>
		</nav>
		<div class="resizer" id="resizer"></div>
		<section id="view"> <!-- <article> section base -> <section> -->
			<!--
			<header id="view-header" class="sticky">
				{{- /* partial "main/header.html" . */ -}}
			</header>
			-->
			<main id="view-main" class="responsive scroll"> <!-- <div> .main -> <main> -->
				{{- block "main" . -}}{{- end -}} {{- /* {{- partial "main/main.html" . -}} */ -}}
			</main>

			<footer id="view-footer">
				{{- partial "main/footer.html" . -}}
			</footer>
		</section>
		<!--
		<aside id="aside" class="section responsive">
			<section id="aside-main">
				{{- /* partial "aside.html" . */ -}}
			</section>
		</aside>
		-->
	</section>

	<!--
	<footer id="footer" class="center">
		{{- /* partial "footer.html" . */ -}}
	</footer>
	-->

	<script type="module" crossorigin src="/assets/index-C7zxpy4f.js"></script>

	{{- partialCached "foot/js.html" . -}} <!--<script type="text/javascript" src="/js/main-defer.js"></script>-->
	<!--
	<script>
		/*
		// Recover the active tab or set first one as active
		var activeTab = localStorage.getItem('activeTab');
		var tabs = document.querySelectorAll('.tabs input[type="radio"]');
		if (activeTab) {
			document.getElementById(activeTab).checked = true;
		} else if (tabs.length > 0) {
			tabs[0].checked = true;
			localStorage.setItem('activeTab', tabs[0].id);
		}
		*/
	</script>
	-->
</body>
</html>