{{- /*
	{{- define "main" -}}
		{{- with .GetPage `scripts/ls/ls.md` -}}
			<h1>{{ .Title }}</h1>
			{{ .Content }}
		{{- end -}}
	{{- end -}}
*/ -}}

{{- /*
{{- define "main" -}}
	{{- with .GetPage (.Site.Params.homepage | relURL) -}}
		<h1>{{ .Title }}</h1>

		{{- $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" -}}
		{{- $dateHuman := .Date | time.Format ":date_long" -}}
		<time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

		{{- partial "_markup/adjust-paths.html" . -}}

		{{- partial "terms.html" (dict "taxonomy" "tags" "page" .) -}}
	{{- end -}}
{{- end -}}
*/ -}}

<!--<script>window.location = "/scripts/ls"</script>-->
<script>
	var destination = "/scripts/ls/";

	if (window.location.pathname !== destination) {
		window.location.href = destination;
	}
</script>