{{- /* Single page template (formerly called 'single.html') */ -}}

{{ define "main" }}
	{{- if eq .Section "scripts" -}}
		{{ .Content }}
		{{- partial "terms.html" (dict "taxonomy" "tags" "page" .) -}}
		{{- partial "commenter.html" . -}}
	{{- else if eq .Section "docs" -}}
		<h1>{{ .Title }}</h1>
		{{- /* .Parent.Content */ -}}
		{{- if and (isset .Params "date") (ne .Params.date "") -}}
			{{- $dateMachine := .Params.date | time.Format "2006-01-02T15:04:05-07:00" -}}
			{{- $dateHuman := .Params.date | time.Format ":date_long" -}}
			<time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
		{{- end -}}
		<br>
		{{ .Description }}
		<br>
		{{ .Content }}
		{{- partial "commenter.html" . -}}
	{{- else if eq .Section "lab" -}}
		{{ .Content }}
		{{- partial "terms.html" (dict "taxonomy" "tags" "page" .) -}}
		{{- partial "commenter.html" . -}}
	{{- else -}}
		<h1>{{ .Title }}</h1>

		{{- if and (isset .Params "date") (ne .Params.date "") -}}
			{{- $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" -}}
			{{- $dateHuman := .Date | time.Format ":date_long" -}}
			<time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
		{{- end -}}
	
		{{ .Content }}
		{{- partial "terms.html" (dict "taxonomy" "tags" "page" .) -}}
	{{- end -}}

	{{- if.Site.Params.ribbon -}}
		<div id="ribbon" class="ribbon"><span class="blinker">{{ i18n `under_br_construction` | safeHTML }}</span></div>
	{{- end -}}

	<button id="lifter" class="lifter" title="{{ i18n `back_to_top` }}"><i class='fa fa-angle-up'></i></button> <!--onclick="this.parentElement.scrollTo({top: 0, behavior: 'smooth'});"-->
{{- end -}}

