<div class="section tabs"> <!-- Redundant! But it was necessary to have .tabs as another child to work with container and style queries, otherwise `.tabs` was the container of the variables itself and could not be handled... -->
	{{- $currentPage := . -}}
	{{- $currentSection := .Section -}}
	{{- $tabCount := len .Site.Menus.nav -}}
	{{- range .Site.Menus.nav -}}
		{{- $isActive := or ($currentPage.IsMenuCurrent "nav" .) ($currentPage.HasMenuCurrent "nav" .) (eq $currentSection .Identifier) -}}
		{{- $isContaining := (where (index $.Site.RegularPages) "Section" .Identifier) -}}

		<input class="input" name="tabs" type="radio" id="tab-{{ .Identifier }}" {{ if $isActive }}checked{{ end }}/>

		<label class="label {{ if .Identifier | in $isContaining }}marker{{ else if $isActive }}marker{{ end }}" for="tab-{{ .Identifier }}" style="--tab-count: {{ $tabCount }};">
			<!--<img src="{{ .Params.icon }}" class="icon colorize" alt="{{ i18n .Name }} icon">--> <!--{{ with .Params.icon }}{{ . }}&nbsp;{{ end }}-->
			<i class="fa {{ .Params.icon }} icon" alt="{{ i18n .Name }} icon"></i>
			<span class="text">{{ i18n .Name }}</span>
		</label>
		<div class="panel scroll-y">
			{{- if eq .Identifier "scripts" -}}
				{{ partial "nav/main/scripts.html" $currentPage -}}
			{{- else if eq .Identifier "docs" }}
				{{ partial "nav/main/docs.html" $currentPage -}}
			{{- else if eq .Identifier "lab" -}}
				{{ partial "nav/main/lab.html" $currentPage -}}
			{{- end -}}
		</div>
	{{- end -}}

	<script>
		function storeLastActiveTabIfChanged(tabId) {
			const currentTab = localStorage.getItem('lastActiveTab');
			if (currentTab !== tabId) {
				localStorage.setItem('lastActiveTab', tabId);
			}
		}

		document.addEventListener("DOMContentLoaded", function() {
			const lastActiveTab = localStorage.getItem('lastActiveTab') || 'scripts';
			const allTabs = document.querySelectorAll('input[name="tabs"]');
			let activeTabFound = false;

			allTabs.forEach(tab => {
				if (tab.checked) {
					storeLastActiveTabIfChanged(tab.id.substring(4));
					activeTabFound = true; 
				}
				tab.addEventListener('change', function() {
					storeLastActiveTabIfChanged(this.id.substring(4));
				});

				// Add middle click "open section" functionality by selecting the label associated with the tab & adding the listener...
				document.querySelector(`label[for="${tab.id}"]`)?.addEventListener('mousedown', function(event) {
					if (event.button === 1) { // Middle mouse button
						const sectionUrl = `/${this.htmlFor.substring(4)}/`; // Get the section ID from "for" and generate the relative URL of the section
						window.location.replace(sectionUrl); // Open the section just like any other link
					}
				});
			});

			if (!activeTabFound) {
				document.getElementById(`tab-${lastActiveTab}`).checked = true;
			}
		});
		/*
		document.addEventListener("DOMContentLoaded", function() {
			const tabs = document.querySelectorAll(".label"); // Selecciona todas las tabs (labels)
			
			tabs.forEach(tab => {
				tab.addEventListener("mousedown", function(event) {
					if (event.button === 1) { // Verifica si el clic fue con el botón central (botón 1)
						const sectionId = this.htmlFor.substring(4); // Obtén el ID de la sección desde el atributo "for"
						const sectionUrl = `/${sectionId}/`; // Genera la URL relativa de la sección

						window.location.replace(sectionUrl); //window.open(sectionUrl, "_blank");
					}
				});
			});
		});
		*/
	</script>
</div>
