<details id="filterer" class="filterer">
	<summary><i class="fa fa-ellipsis-vertical" title="{{ i18n `filters` }}"></i></summary>
	<ul>
		<!-- Group of Buttons/anchors -->
		<li>
			<button onclick="location.href='/tags'" name="filter-tags" title="{{ i18n `go_to_tags` }}..."><strong>Tags...</strong><span>({{ len .Site.Taxonomies.tags }})</span></button>
			<!--<a href="/tags"><strong>All Tags...</strong><span>({{ len .Site.Taxonomies.tags }})</span></a>--> <!-- Anchor based version -->
		</li>
		<hr>

		<!-- Group of checkbox inputs for tags -->
		{{- range sort (sort .Site.Taxonomies.tags "Page.Title") "Page.Weight" "asc" -}}
			<li>
				<label title="{{ .Page.Description | .Page.RenderString | default (i18n `no_desc`) }}">
					<input type="checkbox" name="filter-{{ .Page.LinkTitle | urlize }}" value="{{ .Page.LinkTitle }}" class="filter-entry" >{{ .Page.Title }}
					<span>({{ .Count }})</span>
				</label>
			</li>
		{{- end -}}
		<hr>

		<!-- Group of radio inputs for other filters (WIP!) -->
		<div style="cursor: not-allowed;"> 
			<li class="grayed">
				<label title="Show recently added only (WIP!)">
					<input type="radio" name="filter-date" value="{{ .Page.Date }}" class="filter-entry" disabled>Recently added
				</label>
			</li>
			<li class="grayed">
				<label title="Show recently updated only (WIP!)">
					<input type="radio" name="filter-lastmod" value="{{ .Page.Lastmod }}" class="filter-entry" disabled>Recently updated
				</label>
			</li>
		</div>
		<hr>

		<!-- Group of Buttons/anchors for other actions -->
		<li>
			<button onclick="resetFilters()" name="filter-reset" title="Clear all filters (show all)">Reset filters<span></span></button>
		</li>
	</ul>
</details>
