{{- /*
{{- if .IsTranslated -}}
	{{- range .Translations -}}
		<span class="i18ner" style=""> 
			<i class="fa fa-globe"></i>
			<a href ="{{ .Permalink }}" style="">{{ .Language.LanguageName }} {{ if .IsPage }} {{ end }}</a>
		</span>
	{{- end -}}
{{- end -}}
*/ -}}

{{- if gt (len .Site.Languages) 1 -}}
	<div id="i18ner">
		{{- if .IsTranslated -}}
			{{- if lt (len .Translations) 2 -}}
				<!-- Button for less than three languages -->
				{{- range .Translations -}}
					<button onclick="location.href='{{ .Permalink }}'"  title="{{ i18n `translate` }}">
						{{ .Language.LanguageName }}
					</button>
				{{- end -}}
			{{- else -}}
				<!-- Dropdown for more than two languages -->
				<select onchange="location = this.value;" title="{{ i18n `translate` }} ({{ add (len .Translations) 1 }})">
					<!-- Add default language -->
					<option value="{{ $.Permalink }}" {{ if eq $.Page.Language.Lang $.Site.Language.Lang }}selected{{ end }}>{{ $.Site.Language.LanguageName }}</option>
					{{- range .Translations -}}
						<option value="{{ .Permalink }}" {{ if eq .Lang $.Page.Language.Lang }}selected{{ end }}>{{ .Language.LanguageName }}</option>
					{{- end -}}
				</select>
			{{- end -}}
		{{- else -}}
			<button class="disabled" disabled>
				<!-- <i class="fa fa-globe"></i> -->
				{{ $.Site.Language.LanguageName }}
			</button>
		{{- end -}}
	</div>
{{- end -}}