{{- /* Construct the linker element */ -}}

{{- $itemCount := len .Site.Params.links | default 3 -}}
<div id="links" class="links" style="--item-count: {{ $itemCount }};">
	{{- $index := 0 -}}
	{{- range sort .Site.Params.links "order" "desc" -}}
		{{- $index = add $index 1 -}}
		{{- $zIndex := sub $itemCount (sub $index 1) -}}
		{{- $target := cond (hasPrefix .href "/") "_self" "_blank" -}}
		{{- $ariaLabel := printf "%s %s %s" (i18n .start) (i18n .title | default .title) (i18n .end) -}}
		{{- $copyTypes := slice "application/rss+xml" "mailto" -}} {{- /* For more types just add'em: "application/special-type" "another-type..." */ -}}
		{{- $onclick := cond (in $copyTypes .type) `copyToClipboard(event)` `` | safeJS -}}
		{{- $finalHref := cond (hasPrefix .href "/") (.href | absURL) .href -}}
		{{- $finalTooltip := i18n (.tooltip | default "copied") | default "Copied to clipboard!" -}}
		<a href="{{ $finalHref }}" onclick="{{ $onclick }}" target="{{ $target }}" id="link-{{ $index }}" class="link undecorate" style="anchor-name: --link-{{ $index }}; z-index: {{ $zIndex }};" aria-label="{{ $ariaLabel }}" data-copied="{{ $finalTooltip }}" draggable="false">
			{{- if .src -}}
				<img src="{{ .src }}" class="link-icon colorize" alt="{{ .alt }}">
			{{- else if .icon -}}
				<i class="link-icon {{ .icon }}" aria-hidden="true" alt="{{ .alt }}"></i>
			{{- else -}}
				<i class="link-icon fa-regular fa-circle-question" aria-hidden="true" alt="{{ .alt }}"></i>
			{{- end -}}
		</a>
		<span class="link-tip" id="link-{{ $index }}-tip" style="position-anchor: --link-{{ $index }};" aria-hidden="true">{{ $ariaLabel }}</span>
	{{- end -}}
</div>