<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
	{{ partial "head.html" . }}
</head>

<body>
	<header class="root"> <!-- HEADER -->
		{{ partial "header.html" . }}
	</header>

	<main id="layout"> <!-- MAIN -->
		<nav id="nav" class="body">
			<div class="main">
				<div class="tabs">
					<input class="input" name="tabs" type="radio" id="tab-1"/>
					<label class="label" for="tab-1">📄 Scripts</label>
					<div class="panel">
						{{ partial "nav/main/scripts.html" . }}
					</div>
					<input class="input" name="tabs" type="radio" id="tab-2"/>
					<label class="label" for="tab-2">📚 Docs</label>
					<div class="panel">
						{{ partial "nav/main/doc.html" . }}
					</div>
					<input class="input" name="tabs" type="radio" id="tab-3"/>
					<label class="label" for="tab-3">🧪 Lab</label>
					<div class="panel">
						<p>Tekno Match (Citrus ×clementina) is a hybrid between a mandarin orange and a sweet orange, so named in 1902. The exterior is a deep orange colour with a smooth, glossy appearance. Clementines can be separated into 7 to 14 segments. Similarly to tangerines, they tend to be easy to peel.</p>
					</div>
				</div>
			</div>
		</nav>

		<div id="article" class="body">
			<!--
			<div class="header">
				{{ partial "main/header.html" . }}
			</div>
			-->
			<div class="main">
				{{ block "main" . }}{{ end }}
			</div>

			<div class="footer center">
				{{ partial "main/footer.html" . }}
			</div>
		</div>
	</main>

	<footer> <!-- FOOTER -->
		<!--{{ partial "footer.html" . }}-->
	</footer>

	<script>
		// Recover the active tab or set first one as active
		var activeTab = localStorage.getItem('activeTab');
		var tabs = document.querySelectorAll('.tabs input[type="radio"]');
		if (activeTab) {
			document.getElementById(activeTab).checked = true;
		} else if (tabs.length > 0) {
			tabs[0].checked = true;
			localStorage.setItem('activeTab', tabs[0].id);
		}
	</script>
	<!--
	<script>
		// Recover the active tab
		var activeTab = localStorage.getItem('activeTab');
		if (activeTab) {
			document.getElementById(activeTab).checked = true;
		}

		// Save active tab when it's changed
		var tabs = document.querySelectorAll('.tabs input[type="radio"]');
		tabs.forEach(function(tab) {
			tab.addEventListener('change', function() {
				localStorage.setItem('activeTab', this.id);
			});
		});
	</script>
	-->
</body>
</html>