<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
	{{ partial "head.html" . }}
</head>

<body>
	<header>
		{{ partial "header.html" . }}
	</header>

	<main id="layout">
		<nav id="nav" class="box">
			<!--
			<div class="header">
				{{ partial "nav/header.html" . }}
			</div>
			-->
			<!--
			<div class="main">
				{{ partial "nav/main/scripts.html" . }}
			</div>
			-->
			<!--
			<div class="main">
				{{ partial "nav/main/doc.html" . }}
			</div>
			-->
			<div class="main">
				{{ partial "nav/main.html" . }}
			</div>
		</nav>

		<div id="article" class="box">
			<!--
			<div class="header">
				{{ partial "main/header.html" . }}
			</div>
			-->
			<div class="main">
				{{ block "main" . }}{{ end }}
			</div>

			<div class="footer center">
				{{ partial "main/footer.html" . }}
			</div>
		</div>
	</main>
	<!--
	<footer>
		{{ partial "footer.html" . }}
	</footer>
	-->
</body>
</html>