<!--<h1>{{ site.Title }}</h1>-->
<!--<p>By {{ site.Author.name }}</p>-->
<!--{{ partial "menu.html" (dict "menuID" "main" "page" .) }}-->
<h4>Scripts</h4>

<!--<div class="nav-tabs">-->
	<!-- Tab 1 -->
	<!--
	<input type="radio" name="tab" id="tab1" checked>
	<label for="tab1">Scripts</label>
	<div class="nav-tab-content" id="content1">
		Content for Tab 1
	</div>
	-->

	<!-- Tab 2 -->
	<!--
	<input type="radio" name="tab" id="tab2">
	<label for="tab2">Doc</label>
	<div class="nav-tab-content" id="content2">
		Content for Tab 2
	</div>
	-->

	<!-- Add more tabs as needed... -->
<!--</div>-->
