<!--<h1>{{ site.Title }}</h1>-->
<!--<p>By {{ site.Author.name }}</p>-->
<!--{{ partial "menu.html" (dict "menuID" "main" "page" .) }}-->

<!--<header class="tabs">-->
	<label onclick="this.parentElement.nextElementSibling.querySelectorAll('.tab-content').forEach((content, i) => content.classList.toggle('active', i === 0));">Tab 1</label>
	<label onclick="this.parentElement.nextElementSibling.querySelectorAll('.tab-content').forEach((content, i) => content.classList.toggle('active', i === 1));">Tab 2</label>
<!--</header>-->
