/*@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i');*/
/*@import url('https://fonts.googleapis.com/css?family=Bree+Serif');*/

:root {
--headH: 80px;
--mainH: 100%;
--footH: 40px;
--col: #ddd;
--acCol: #ff0; /* accent color */
--hoCol: #666;
--bgCol: #444;
--hCol: #999;
--navCol: #222;
--artCol: #333;

--grayF0: #FFF;
--grayE1: #DDD;
--grayD2: #DDD;
--grayC3: #CCC;
--grayB4: #BBB;
--grayA6: #AAA;
--gray80: #808080;
--gray6A: #666;
--gray4B: #444;
--gray3C: #333;
--gray2D: #222;
--gray1E: #111;
--gray0F: #000;

--primary-text-color: #222;
--secondary-text-color: #fff;
--primary-bg-color: #222;
--secondary-bg-color: #fff;
--tertiary-bg-color: #ddd;
}

/*dark-mode styles*/
.dark-mode {
	--gray0F: #FFF;
	--gray1E: #EEE;
	--gray2D: #DDD;
	--gray3C: #CCC;
	--gray4B: #BBB;
	--gray6A: #AAA;
	--grayA6: #666;
	--grayB4: #444;
	--grayC3: #333;
	--grayD2: #222;
	--grayE1: #111;
	--grayF0: #000;

	--bodyBG:#2b2b2b;
	--wrapperBG: #212121;
	--wrapperBG2: #212121;
	--text-color: #C5C5C5;
	--codeBG:#424242;
	box-shadow: none;
} 
.dark-mode span.nav-indicator{
	background-color: #ACD6FF !important;
} 
.dark-mode li{
	color: var(--text-color);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0px dotted grey;
}

*:disabled {
	opacity: 0.67;
	pointer-events: none;
	cursor: not-allowed;
}

@supports not selector(::-webkit-scrollbar) { /* Wrap new scrollbar properties in @supports rule for browsers without `::-webkit-scrollbar-*` support. This way chrome won't override `::-webkit-scrollbar-*` selectors */
	* {
		scrollbar-width: thin;
		scrollbar-color: unset var(--grayB4); /*SlateGrey DarkSlateGrey;*/
	}
}

*::-webkit-scrollbar {
	height: 10px;
	width: 10px;
}

*::-webkit-scrollbar-track {
	border-radius: 0;
	background-color: unset;
}

*::-webkit-scrollbar-corner {
	background: inherit;
}

*::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: var(--grayB4);
}

*::-webkit-scrollbar-thumb:hover {
	background: var(--grayA6); 
}

*::-webkit-scrollbar-thumb:active {
	background: var(--acCol);
}

html {
	height: 100%; /*min-height: 100vh;*/
	width: 100%;
	overflow: hidden;
}

body, .body {
	display: flex;
	flex-flow: column;
	height: 100%; /*min-height: 100vh;*/
	width: 100%;
	/*overflow: hidden;*/
	color: var(--gray0F);
	accent-color: var(--acCol);
	background-color: var(--grayB4);
	font-family: 'Segoe UI','Noto Sans',Helvetica,Arial,sans-serif,'Segoe UI Emoji'; /*font-family: sans-serif, Arial;*/ /*font-family: 'Source Sans Pro', sans-serif;*/
	line-height: 1.5;
}

header, .header {
	display: flex;
	flex: 0 1 auto; /* flex: 0 1 64x */
	justify-content: space-between;
	align-items: center;
	white-space: nowrap;
	/*padding: 4px 8px;*/
	background-color: inherit;
}

header.root {
	background-color: var(--grayC3);
}

main, .main {
	display: flex;
	flex-flow: column;
	flex: 1 1 auto;
	height: 100%; /* Remove fixed height? */
	overflow-y: auto; /* hidden? */
}

main#layout {
	flex-flow: row;
	gap: 0;
	overflow: hidden;
	background-color: inherit;
}

main#layout #article {
	background-color: var(--grayC3);
	box-shadow: inset 2px 4px 6px 0 rgba(0, 0, 0, 0.3);
}

footer, .footer {
	flex: 0 1 auto; /* flex: 0 1 32px */
	white-space: nowrap;
	background-color: inherit;
}

a {
	color: #00e;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Josefin Sans', sans-serif; /*font-family: 'Bree Serif', serif;*/
	color: yellow;
}

h1 {
	font-size: 36px;
}

hgroup {
	display: block;
	padding: 4px 8px;
	line-height: 1;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

hr {
	height: 2px;
	color: #333;
	background-color: #444;
	border: none;
}

p {
	margin-top: 20px;
	margin-bottom: 0;
	font-size: 20px;
	line-height: 1.5;
}

nav, .nav {
	flex: 33%;
	height: 100%;
	min-width: 128px;
	max-width: 384px;
	overflow-y: auto;
	background-color: var(--grayD2) !important;
	/*box-shadow: 4px 0 6px rgba(0, 0, 0, 0.3);*/
	container: nav / inline-size;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	margin-bottom: 4px;
}

nav ul li a {
	text-decoration: none;
	color: #007BFF;
	font-weight: bold;
}

nav ul li a:hover {
	color: var(--grayA6);
}

nav ul li a:active {
	color: var(--acCol);
}
/*
.nav-articles a {
	display: block;
	padding: 2px 4px;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	color: #999;
	background-color: #333;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.nav-articles a:hover {
	background-color: #444;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}
*/
.container {
	display: flex;
	flex-flow: column;
	height: 100%;
	width: 100%;
}

.tabs {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background: inherit;
	/*box-shadow: 0 24px 40px -16px rgba(0,0,0,0.3);*/
}

.input {
	position: absolute;
	opacity: 0;
}

.label {
	height: 32px;
	width: 100%;
	padding: 4px 8px;
	color: var(--gray6A);
	background: var(--grayB4);
	cursor: pointer;
	font-weight: 550;
	font-size: 14px;
	transition: background 0.1s, color 0.1s;
}

.label:hover {
	background-color: var(--grayA6);
}

.label:active {
	color: var(--acCol);
	background: var(--grayC3);
}

.input:focus + .label {
	z-index: 1;
}

.input:checked + .label {
	background: inherit;
	color: var(--gray0F);
	font-weight: 800;
	box-shadow: inset 2px 4px 4px 0 rgba(0, 0, 0, 0.3);
}

input:not(input:checked) + label {
	box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.3);
}

.panel {
	display: none;
	padding: 20px 30px 30px;
	overflow-y: auto;
	box-shadow: inset 8px 0px 4px -6px rgba(0, 0, 0, 0.3);
	background: unset;

}

.input:checked + .label + .panel {
	display: block;
}

.hs, .hs1, .hs2, .hs3 { /* Horizontal Separator*/
	display: block;
	height: 2px;
	width: 2px;
	background-color: transparent;
	border-bottom: 1px solid #ddd;
}
.hs1 {height: 4px;}
.hs2 {height: 8px;}
.hs3 {height: 16px;}

.left {
	float: left;
	/* Alternative:
	display: flex;
	margin-right: auto;
	justify-content: flex-start;
	*/
}

.center {
	margin: 0 auto;
}

.right {
	float: right;
	/* Alternative:
	display: flex;
	margin-left: auto;
	justify-content: flex-end;
	*/
}

.row {
	display: flex;
	flex-direction: row;
}

.middle {
	display: flex;
	align-items: center;
	/*vertical-align: middle;*/
}

#menu-search {
	height: 24px;
	width: 150px;
	font-size: 12px;
	padding: 3px 5px 3px 5px;
	border: 1px solid #ddd;
	border-radius: 16px;
	vertical-align: middle;
}

/* Light Mode */
.sun-btn {
	display: block;
	padding: 0 8px;
	font-size: 1.5rem;
	color: #ffc533;
}

.moon-btn {
	display: none;
}
/* Dark Mode */
.dark-mode .sun-btn{
	display: none;
}

.dark-mode .moon-btn {
	display: block;
	padding: 0 8px;
	font-size: 1.5rem;
	color: #AAA;
}

@media (width < 600px) {
	body {
		/*background-color: #000;*/
	}
}

/* Accordion mode */
@container nav (width < 256px) {
	nav .main {
		overflow-y: hidden;
		/*gap: 2px;*/
		/*border-top: 0 none;*/
	}

	.tabs {
		height: 100%;
	}

	.input:checked + .label + .panel {
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	.panel {
		flex-grow: 1;
	}
}

/* Tab mode */
@container nav (width > 256px) {
	.tabs {
		height: auto;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.label {
		flex: 1 0 auto;
		position: sticky;
		top: 0;
		width: auto;
		text-align: center;
		z-index: 1;
	}

	.panel {
		width: 100%;
		order: 99;
	}

	.input:checked + .label + .panel {
		display: block;
	}
}