# Try to get missing params form content...

{{- $param := .param }}
{{- $value := index .page.Params $param }}

{{- if not $value }}
  {{- if eq $param "Title" }}
    {{ $result := findRE "^#\\s+(.*)$" .page.Content }}
    {{- if gt (len $result) 0 }}
      {{ $value = index $result 0 1 | htmlUnescape }}
    {{- end }}
  {{- else if eq $param "Description" }}
    {{ $content := .page.Content }}
    {{ $start := findRE "(?m)^#\\s+.*" $content }}
    {{- if gt (len $start) 0 }}
      {{ $contentAfterTitle := after (len (index $start 0)) $content }}
      {{ $firstParagraph := findRE "(?m)^[^#].*" $contentAfterTitle }}
      {{- if gt (len $firstParagraph) 0 }}
        {{ $value = index $firstParagraph 0 | htmlUnescape }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}

{{- return $value | default "" }}
